$color_golg: #ba9f5a;
$color_text: #5B5B5B;
$color_blue: #07111d;


.calc{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.form{
    flex:0 1 48%;
}
.title-coffin{
    font-family: 'Montserrat';
    line-height: 150%;
    font-size: 20px;
    font-weight: 500;
    color: $color_text;
}

.wreath, .dress, .cross, .coffin {
    display: flex;
    flex-direction: column;

    margin:0px 0px 20px 0px;

    &__tim{
        display: flex;

        align-items: center;

        background-color: #fff;
        border: $color_golg 2px solid;
        color: $color_text;
        margin:0px 0px 3px 0px;
        border-radius: 7px;
        height: 70px;
        cursor: pointer;
    }
    &__tim-title{
        
    }

    & span{
        text-align: center;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        color: $color_golg;
        padding: 0px 0px 0px 20px;
        position: relative;
        //after
        &::after{
            content: '';
            position: absolute;
            top: -3px;
            right: -30px;
            width: 30px;
            height: 30px;
            background:url(../img/icon-v.png) 0 0 / cover no-repeat;
        }
    }

    &__img-tim{
        object-fit: cover;
        height: 50px;
        width: auto;
    }

    // .coffin__item
    &__item{
        display: flex;
        align-items: center;
        height: 0px;
        padding: 0px 0px 0px 0px;
        transition: all 0.2s ease;
        //active
        &.active{
        display: flex;
        margin:0px 0px 1px 0px;
        border-radius: 5px;
        background-color: #fff;
        border: $color_golg 2px solid;
        height: 70px;
        cursor: pointer;
        }
    }

    // .coffin__label
    &__label {
        display: inline-block;
        font-family: 'Montserrat';
        font-size: 0px;
        font-weight: 500;
        color: $color_text;
        padding: 20px 0px 20px 20px;
        
        cursor: pointer;
        //active
        &.active{
            font-size: 20px;
        }
    }
    
    &__img{
        height: 0px;
        //active
        &.active{
        object-fit: cover;
        height: 100%;
        width: auto;
        transition: all 0.2s ease;
        }
    }
}

.more{
    background-color: $color_golg;
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    margin:0px 0px 20px 0px;
    cursor: pointer;
}

.praice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_blue;
    color: #fff;
    padding: 20px 0px 20px 0px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 50px;

    border-bottom: #ba9f5a 2px solid;

    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 300;
    &.stiki{
        position: absolute;
        top: -50px;
        left: 0;
        
    }
}
.padding{
    width: 100%;
    padding: 100px 0px 0px 0px;
}

.shop-calc {
    flex: 0 1 48%;

    // .shop-calc__title

    &__title {
    font-family: 'Montserrat';
    line-height: 150%;
    font-size: 20px;
    font-weight: 500;
    color: $color_golg;
    }

    // .shop-calc__list
    &__list {
        display: flex;
        align-items: center;
        height: 100px;
        border-bottom: $color_golg 1px solid;
    }

    // .shop-calc__img
    &__img-box {
        flex: 0 1 30%;
        padding-bottom: 15%;
        position: relative;
        & img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            height: 100%;
            object-fit: cover;
        }
    }

    // .shop-calc__info
    &__info {
        flex: 0 1 60%;
        padding: 0px 0px 0px 20px;
    }

    &__text{
        font-family: 'Montserrat';
        line-height: 150%;
        font-size: 20px;
        font-weight: 500;
        color: $color_text;
    }

    // .shop-calc__cash
    &__cash {
        font-family: 'Montserrat';
        line-height: 150%;
        font-size: 17px;
        font-weight: 500;
        color: $color_text;
    }

    &__delete{
        flex: 0 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & img {
            height: 30px;
        }
    }
}

.loader {
    display: flex;
    padding: 10px 0px 0px 20px;

    // .loader__input

    &__input {
        opacity: 0;
        &:checked + .loader__title::after {
            opacity: 1;
        }
    }

    // .loader__title

    &__title {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        color: $color_golg;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: -32px;

            height: 25px;
            width: 25px;

            border: $color_golg 2px solid;
        }

        &::after {
            content: '';
            position: absolute;
            top: -20px;
            left: -37px;

            height: 45px;
            width: 45px;
            opacity: 0;

            background:url(../img/__calc/check-icon.png) 0 0 / cover no-repeat;
        }
    }
}

.check {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100px;
    border-bottom: $color_golg 1px solid;

    // .check__img
    &__img {
        flex: 0 1 30%;
        padding-bottom: 15%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40%;
            object-fit: cover;
        }
    }

    // .check__info
    &__info {
        flex: 0 1 60%;
    }

    // .check__title
    &__title {
        font-family: 'Montserrat';
        line-height: 150%;
        font-size: 20px;
        font-weight: 500;
        color: $color_text;
    }

    // .check__praice
    &__praice {
        font-family: 'Montserrat';
        line-height: 150%;
        font-size: 17px;
        font-weight: 500;
        color: $color_text;
    }

    // .check__del
    &__del {
        flex: 0 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & img {
            height: 30px;
        }
    }
}


